.content-row {
  font-size: 16px;
}

th.header-row {
  font-size: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

div.date {
  margin: 10px;
}

select.select {
  width: 85% !important;
  margin: auto !important;
  margin-inline: 3px !important;
}
select.select:hover {
  width: 85% !important;
  margin: auto !important;
  margin-inline: 3px !important;
  background-color: rgb(182, 228, 230);
}

div.select {
  width: 100%;
  margin: 10px 10px;
  display: grid;
  grid-template-columns: repeat(3,33%)
}
div.date {
  width: 100%;
  margin: 10px 10px;
  display: grid;
  grid-template-columns: repeat(3,33%)
}
input.input{
  width: 85% !important;
  margin: auto !important;
  margin-inline: 3px !important;
  font-size: 16px !important;
}
input.input:hover{
  width: 85% !important;
  margin: auto !important;
  margin-inline: 3px !important;
  font-size: 16px !important;
  background-color: rgb(182, 228, 230);
}


input{
  margin: 5px;
}