.content-row {
  font-size: 16px;
}

th.header-row {
  font-size: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

input.addExpr.date {
  width: 30% !important;
  margin: 0% !important;
  margin-inline: 3px !important;
}
div.date {
  margin: 10px;
}

input.contact {
  width: 30% !important;
  margin: 0% !important;
  margin-inline: 3px !important;
}
div.contactData {
  margin: 10px;
}
select.select {
  width: 30% !important;
  margin: 0% !important;
  margin-inline: 3px !important;
}
div.select {
  width: 96%;
  margin: 10px 10px;
}
div.select.Hospital {
  position: relative;
  height: auto;
  width: 29%;
  margin: 0% 22% 0% 0px;
}
select.select.hospital {
  width: 100% !important;
  margin: 0% !important;
  padding: 0% !important;
  margin-inline: 3px !important;
}
.addExpr.date.year{
  margin: 0%;
}