.App{
    text-align: center;
    background-image: url('../../../public/images/background3.jpg');
  }
  
  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .formbox{
    background-color: aliceblue;
  }
  
  .form input {
    width: 390px;
    height: 50px;
    margin: 10px;
    font-size: 25px;
  }
  .buttonsubmit{
    width: 390px;
    height: 50px;
    margin: 10px;
    font-size: 25px;
  }