.MuiPaper-root{
    margin-top: 25px;
    background: none !important;
    position: relative;

}
.MuiTable-root{
    margin-bottom: 25px !important;
}

.MuiTableCell-root{
    font-size: 25px !important;
    text-align: center !important;

}
.MuiTableCell-body{
    font-size: 20px !important;
    font-weight: bold !important;
    background:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5));

}