.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* // ////////////////////////////////////////////////////////// */
* {
  margin: 0;
  padding: 0;
}
input.input{
  border: 1px solid #000 !important;
}

.container{
  background-image:url('../../../public/images/background3.jpg') ; 
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper{
    background-color: aliceblue;
    min-width: 350px;
    min-height: 650px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5px;
}
.input{
    height: 32px;
    font-size: 20px;
    width: 100%;
    margin-bottom: 10px;
    border: 5px #000;
    border-radius: 5px;
    padding: 5px;
}

.label{
  font-size: 20px;
  font-weight: bold;
  font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.id,
.username,
.FirstName,
.LastName,
.city,
.year{
    margin: 20px;
    font-size: 16px;
}

.error{
    color: red;
}

.to_middle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-decoration: underline
}

.buttons{
  margin-top: 80px;
}


