.btn.schedule{
    margin-left: 20%;
    margin-right: 20%;
    width: 50%;
}
.div.btn{
    position: relative;
}

.btn-toSpreadsheet{
    margin-top: 25px !important;
    
}
.inner:hover{
    background-color: cornflowerblue;
    color : #000;
    
}